<div th:fragment="content">
    <h1 class="text-center">Copyright Information</h1>
    <p class="text-center">&copy; 2024 HoverSprite. All rights reserved.</p>
    <p class="text-center">The HoverSprite website and its content are owned and created by Group 9 of EEET2580 -
        Enterprise Application Development and may not be copied, distributed, or reproduced in any way without
        prior written consent.</p>
    <p class="text-center">Last updated: September 2024</p>
    <div class="d-flex justify-content-center">
        <div class="col-md-6 text-center">
            <img src="/images/RMIT_logo.png" class="img-fluid bounce d-block">
        </div>
    </div>
</div>