<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/d88c69cf14.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>
<body> -->

 <div th:fragment="content" class="login-container">
    <!-- <video autoplay  muted loop id="background_video">
        <source src="Image/video.mp4" type="video/mp4">
    </video> -->
    <!-- <div class="d-flex top-0 start-0 top_bar">
        
        <a href="https://google.com/" class="text-decoration-none fw-bolder fs-5">
            <img src="/images/drone-icon.png"  alt="">AGRO DRONE</a>
       
    </div> -->
    <!-- <div>
        <button id="themeToggleButton" class="btn btn-secondary ms-3">Switch to Night Mode</button>
    </div> -->
    <div class="login__form active">
        <div class="row d-flex border rounded-5 p-3 bg-white shadow bg-body-tertiary box-area">
            <div class="row vh-50 w-100 align-self-center">
                <div class="col-12 col-lg-6 col-xl-6 px-3">
                    <div class="row vh-50">
                        <div class="col align-items-center p-5 w-100">
                            <h3 class="fw-bolder">WELCOME BACK !</h3>
                            <p class="fw-lighter fs-6">
                                Don't have an account, <span id="signUp" role="button" class="text-primary">Sign Up</span>
                            </p>
                            <form action="#" method="#" class="mt-5">
                                 <!-- Username (Phone Number or Email) -->
                                <div class="mb-3 login_username">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" id="login_username" name="username" required 
                                        class=" form-control text-indent shadow-sm bg-grey-light border-0 rounded-pill fw-lighter fs-7 p-3" 
                                        placeholder="Enter phone number or email address">
                                </div>
                                <div class="mb-3 login_password">
                                    <label for="password" class="form-label">Password</label>
                                    <div class="d-flex position-relative">
                                        <input type="password" id="" name="password" required 
                                        class="form-control text-indent auth__password shadow-sm bg-grey-light border-0 rounded-pill fw-lighter fs-7 p-3" >
                                        <span class="login_password password__icon text-primary fs-4 fw-bold bi bi-eye-slash"></span>
                                    </div>
                                    <div class="mt-1 ms-3">
                                        <label class="form-label" style="font-size: 12px ; color: rgb(164, 173, 182);">Must have 8 characters include 1 special and 1 number.</label>
                                    </div>
                                </div>
                                <div class="d-flex input-group mb-3 justify-content-between">
                                    <div class="form-check remember_form">
                                        <input type="checkbox" class="form-check-input" id="formCheck">
                                        <label for="formCheck" class="form-check-label text-secondary">
                                            <small>Remember me</small>
                                        </label>
                                    </div>
                                    <div class="forgot">
                                        <small><a href="#" class="text-decoration-none text-secondary">Forgot password?</a></small>
                                    </div>
                                </div>
                                <div class="col text-center">
                                    <button type="submit" class="btn btn-outline-dark btn-lg rounded-pill mt-4 w-100">Login</button>
                                </div>
                            </form>
                            <p class="mt-2 text-center">Or Sign in with social platforms</p>
                        <div class="row g-0 text-center">
                            <div class="col mt-2">
                                <a href="" class="btn btn-outline-dark border-2 rounded-circle me-4"><i class="bi bi-facebook fs-5"></i></a>

                                <a href="" class="btn btn-outline-dark border-2 rounded-circle"><i class="bi bi-google fs-5"></i></a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center col-md-6 right-box">
                    <div class="d-none align-items-center d-lg-block col-lg-6 col-xl-6 p-5 vh-50">
                        <div class="row vh-50 p-5 ms-5">
                            <div class="col d-flex justify-content-center align-items-center p-5 text-center">
                                <div id="carouselExampleFade" class="carousel slide login_image" data-bs-ride="carousel">
                                    <div class="carousel-inner py-4">
                                        <div class="carousel-item active" data-bs-interval="5000">
                                            <img src="Image/2.png" class="bounce d-block responsive-img" alt="">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                            <img src="Image/4.png" class="bounce d-block responsive-img" alt="">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                            <img src="Image/4.png" class="bounce d-block responsive-img" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="register__form">
        <div class="row d-flex border rounded-5 p-3 bg-white shadow box-area">
            <div class="col-md-6 right-box d-flex align-items-center">
                <div class="d-none d-lg-block col-lg-6 col-xl-6 p-5 vh-50">
                    <div class="row vh-50 p-5">
                        <div class="col d-flex justify-content-center align-items-center p-5 text-center">
                            <div id="carouselExampleFade" class="carousel slide register_image" data-bs-ride="carousel">
                                <div class="carousel-inner py-4">
                                    <div class="carousel-item active" data-bs-interval="5000">
                                        <img src="Image/2.png" class="bounce d-block responsive-img" alt="">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="5000">
                                        <img src="Image/4.png" class="bounce d-block responsive-img" alt="">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="5000">
                                        <img src="Image/4.png" class="bounce d-block responsive-img" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-lg-6 col-xl-6 px-3">
                <div class="row vh-50">
                    <div class="col align-self-center p-2 w-100">
                        <h3 class="fw-bolder">REGISTER HERE ! <span class="fw-lighter fs-6"></span></h3>
                        <span class="fw-lighter fs-6">
                            Have an account, <span id="signIn" role="button" class="text-primary">Sign In</span>
                        </span>
                        <form action="#" method="#" class="mt-3 ">
                    
                            <label for="personalInfo" class="form-label ms-2">Personal Information</label>
                            <div class="row g-3 register_personal_info">
                                <div class="col-4">
                                    <div class="mb-1" style="margin-top: -20px;">
                                        <label for="lastname" class="form-label"></label>
                                        <input type="text" id="lastname" name="lastname" required class="form-control text-indent shadow-sm bg-grey-light border-0 rounded-pill fw-lighter fs-7 p-3" placeholder="Lastname">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-1" style="margin-top: -20px;">
                                        <label for="middlename" class="form-label"></label>
                                        <input type="text" id="middlename" name="middlename" required class="form-control text-indent shadow-sm bg-grey-light border-0 rounded-pill fw-lighter fs-7 p-3" placeholder="Middlename">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-1" style="margin-top: -20px;">
                                        <label for="firstname" class="form-label"></label>
                                        <input type="text" id="firstname" name="firstname" required class="form-control text-indent shadow-sm bg-grey-light border-0 rounded-pill fw-lighter fs-7 p-3" placeholder="Firstname">
                                    </div>
                                </div>                           
                            </div>
                            <div class="mt-1 ms-2">
                                <label class="form-label" style="font-size: 12px ; color: rgb(164, 173, 182);">Full Name:</label>
                                <span id="full-name-display" class="fw-bold" style="font-size: 12px ; color: rgb(164, 173, 182);"></span>
                            </div>

                            <div class="mb-3 register_phone_number">
                                <label for="phone" class="form-label  ms-2">Phone Number</label>
                                        <div class="mb-1">
                                            <input type="tel" id="phone" name="phone" required 
                                                class="form-control text-indent shadow-sm bg-grey-light border-0 rounded-pill fw-lighter fs-7 p-3" 
                                                placeholder="0862 123 456 or +84 862 123 456" 
                                                pattern="^(0|\+84)(\d{2}|\d{3})\s?\d{3}\s?\d{3,4}$"
                                                title="Phone number must start with 0 or +84, followed by nine or ten digits">
                                        </div>
                            </div>
                            
                            <label for="home-address" class="form-label  ms-2">Home Address</label>
                           
                                    <div class="mb-3">
                                        <input type="text" id="home-address" name="home-address" required 
                                            class="form-control text-indent shadow-sm bg-grey-light border-0 rounded-pill fw-lighter fs-7 p-3" 
                                            placeholder="Enter your home address">
                                    
                            </div>
                                
                            <div class="mb-3">
                                <label for="password" class="form-label ms-2">Password</label>
                                <div class="d-flex position-relative">
                                    <input type="password" id="register_password" name="password" required 
                                           class="form-control text-indent auth__password shadow-sm bg-grey-light border-0 rounded-pill fw-lighter fs-7 p-3" 
                                           placeholder="Enter your password"
                                           pattern="^(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}$"
                                           title="Password must contain at least one capital letter, one special character, and be at least 8 characters long.">
                                    <span class="password__icon text-primary fs-4 fw-bold bi bi-eye-slash"></span>
                                    
                                </div>
                                <div class="mt-1 ms-3">
                                    <label class="form-label" style="font-size: 12px ; color: rgb(164, 173, 182);">Must have 8 characters include 1 special and 1 number.</label>
                                </div>
                            </div>
                        
                            <!-- Confirm Password Field -->
                            <div class="mb-3">
                                <label for="confirm-password" class="form-label ms-2">Confirm Password</label>
                                <div class="d-flex position-relative">
                                    <input type="password" id="confirm-password" name="confirm-password" required 
                                           class="form-control text-indent auth__password shadow-sm bg-grey-light border-0 rounded-pill fw-lighter fs-7 p-3" 
                                           placeholder="Confirm your password">
                                    <span class="password__icon text-primary fs-4 fw-bold bi bi-eye-slash"></span>
                                </div>
                                <p class="ms-3 mt-1" id="password-match-message"></p>
                            </div>
                            <div class="col text-center">
                                <button type="submit" value="Register" id="submit-btn" class="btn btn-outline-dark btn-lg rounded-pill mt-2 w-100">Sign Up</button>
                            </div>

                        </form>

                        <p class="mt-2 text-center">Or Sign in with social platforms</p>
                        <div class="row g-0 text-center">
                            <div class="col mt-2">
                                <a href="" class="btn btn-outline-dark border-2 rounded-circle me-4"><i class="bi bi-facebook fs-5"></i></a>

                                <a href="" class="btn btn-outline-dark border-2 rounded-circle"><i class="bi bi-google fs-5"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- <script src="/js/login.js"></script>
</body>
</html> -->
