<div th:fragment="content" class="notification-container">
    <div class="container account-section mt-5">
        <div class="row">
            <div class="col-md-3 sidebar">
                <h3>My account</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/account/user_profile"><i class="fa-solid fa-circle-user"></i>Personal Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/account/notifications"><i class="fa-solid fa-bell"></i>Notifications</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary rounded-pill mt-3" onclick="logout()"><i class="bi bi-arrow-bar-right mr-5"> Log out</i></button>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 order-list">
                <div class="mask d-flex align-items-center h-100">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body p-0">
                                        <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative;">
                                            <table class="table table-striped mb-0">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" onclick="sortTable('id')">No. <span id="sort-id" class="sort-indicator"></span></th>
                                                        <th scope="col" onclick="sortTable('date')">Date <span id="sort-date" class="sort-indicator"></span></th>
                                                        <th scope="col" onclick="sortTable('total')">Total <span id="sort-total" class="sort-indicator"></span></th>
                                                        <th scope="col" onclick="sortTable('status')">Status <span id="sort-status" class="sort-indicator"></span></th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="customerTblBody">
                                                    <!-- Rows will be dynamically injected here -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Include the JavaScript file -->
    <script src="../static/js/notificationTable.js"></script>
</div>
