<div th:fragment="content" class="profile-container pb-5">
    <div class="container account-section mt-5">
        <div class="row">
            <div class="col-md-3 sidebar">
                <h1 class="text-center my-3 fw-bold"  style="color: var(--primary-color);">My Account</h1>
                <ul class="nav flex-column align-items-start">
                    <li class="nav-item align-items-start">
                        <a class="nav-link my-2" th:href="@{/account}"><i class="fa-solid fa-circle-user mx-2"></i>Personal Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active my-2" th:href="@{/account/notifications}"><i class="fa-solid fa-bell mx-2"></i>Notifications</a>
                    </li>
                </ul>
                <form th:action="@{/logout}" method="post" class="d-flex flex-column align-items-center mt-5">
                    <button type="submit" class="btn btn-primary rounded-pill mt-3">
                        <i class="bi bi-arrow-bar-right mr-5"></i> Log out
                    </button>
                </form>
            </div>
            <div class="col-md-9 order-list">
                <div class="mask d-flex align-items-center h-100">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body p-0">
                                        <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative;">
                                            <table class="table table-striped mb-0">
                                                <thead>
                                                <tr>
                                                    <th scope="col">No.</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Message</th>
                                                </tr>
                                                </thead>
                                                <tbody id="notificationTableBody">
                                                <!-- Notifications will be dynamically inserted here -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <nav aria-label="Notification pagination">
                                    <ul class="pagination justify-content-center" id="paginationContainer">
                                        <!-- Pagination will be dynamically inserted here -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="userData"
         th:data-user-id="${#authentication.principal.id}"
         th:data-user-email="${#authentication.principal.email}"
         style="display: none;">
    </div>
</div>
