<div th:fragment="content" class="container orders-container">
    <h1 class="text-center my-3 fw-bold"  style="color: var(--primary-color);">Orders Management</h1>
    <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Date</th>
                    <th scope="col">Crop Type</th>
<!--                    <th scope="col">Sprayer(s) ID</th>-->
                    <th scope="col">Total</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="ordersTableBody">
            <!-- Orders will be populated here -->
            </tbody>
        </table>
    </div>
</div>