<div class="container">
    <div class="privacy-policy-content">
        <h1>Privacy Policy</h1>
        <h2><i class="fa-solid fa-database"></i>Information Collected</h2>
        <p>
            The website collects various types of information, including personal and usage data, to provide and improve our services.
        </p>

        <h2><i class="fa-solid fa-cogs"></i>How the Website uses Information</h2>
        <p>
            We use the information we collect to enhance user experience, provide customer support, and comply with legal obligations.
        </p>

        <h2><i class="fa-solid fa-lock"></i>Data Security</h2>
        <p>
            Various implemented security measures are designed to protect personal data from unauthorized access and disclosure.
        </p>

        <h2><i class="fa-solid fa-user-shield"></i>User Rights</h2>
        <p>
            Each user has the right to access, correct, or delete personal data under certain circumstances.
        </p>
    </div>
</div>
