<div th:fragment="content" class="policy-container">
    <div class="container">
        <div class="policy-content">
            <h1 class="fw-bold text-center" style="color: var(--primary-color);">Privacy Policy</h1>
            <h4 class="fw-bold" style="color: var(--secondary-color);"><i class="fa-solid fa-database"></i> Information Collected</h4>
            <p>
                The website collects various types of information, including personal and usage data, to provide and improve our services.
            </p>

            <h4 class="fw-bold" style="color: var(--secondary-color);"><i class="fa-solid fa-cogs"></i> How the Website uses Information</h4>
            <p>
                We use the information we collect to enhance user experience, provide customer support, and comply with legal obligations.
            </p>

            <h4 class="fw-bold" style="color: var(--secondary-color);"><i class="fa-solid fa-lock"></i> Data Security</h4>
            <p>
                Various implemented security measures are designed to protect personal data from unauthorized access and disclosure.
            </p>

            <h4 class="fw-bold" style="color: var(--secondary-color);"><i class="fa-solid fa-user-shield"></i> User Rights</h4>
            <p>
                Each user has the right to access, correct, or delete personal data under certain circumstances.
            </p>
        </div>
    </div>
</div>
