<div th:fragment="content">
    <div class="terms-content">
        <!-- Replace with your actual Terms of Service content -->
        <h1><i class="fa-solid fa-globe"></i> Website Terms of Service</h1>
        <p>These Terms of Service govern your access to and use of our website, Hoversprite. By accessing or using
            the Website, you agree to be bound by these Terms. If you disagree with any parts of the terms, please
            do not access or use the Website.</p>

        <h2><i class="fa-solid fa-file"></i> Modifications</h2>
        <p>We reserve the right to modify these Terms at any time, and we will notigy you at any changes by posting
            updated Terms on our Website. You continued use of the Website after such modifications constitues your
            acceptance of the modified Terms.</p>

        <h2><i class="fa-solid fa-tag"></i> Intellectual Property</h2>
        <p>The Website and its orginal content, features, and functionality are owned by Group 9 of EEET2580 -
            Enterprise Application Development and are protected by international copyright, trademark, patent,
            trade secret, and other intellectual property or proprietary right laws.</p>
    </div>
</div>