<div th:fragment="content" class="terms-container">
    <div class="container">
        <div class="terms-content">
            <!-- Terms of Service content -->
            <h1 class="fw-bold text-center" style="color: var(--primary-color);">Website Terms of Service</h1>
            <p class="text-center">
                These Terms of Service govern your access to and use of our website, HoverSprite. By accessing or using
                the Website, you agree to be bound by these Terms. If you disagree with any parts of the terms, please
                do not access or use the Website.
            </p>

            <h4 class="fw-bold" style="color: var(--secondary-color);"><i class="fa-solid fa-file"></i> Modifications</h4>
            <p>
                We reserve the right to modify these Terms at any time, and we will notify you of any changes by posting
                updated Terms on our Website. Your continued use of the Website after such modifications constitutes your
                acceptance of the modified Terms.
            </p>

            <h4 class="fw-bold" style="color: var(--secondary-color);"><i class="fa-solid fa-tag"></i> Intellectual Property</h4>
            <p>
                The Website and its original content, features, and functionality are owned by Group 9 of EEET2580 -
                Enterprise Application Development and are protected by international copyright, trademark, patent,
                trade secret, and other intellectual property or proprietary rights laws.
            </p>
        </div>
    </div>
</div>
