<div th:fragment="content" class="users-container">
    <h1 class="text-center my-3 fw-bold"  style="color: var(--primary-color);">Users Management</h1>
    <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>

                </tr>
            </thead>
            <tbody id="userTableBody">
                <!-- <tr user-id="1">
                    <td>1</td>
                    <td>Do Phuong Linh</td>
                    <td>linhdo@hoversprite.com</td>
                    <td >0123345893</td>
                    <td>RMIT University</td>
                </tr> -->
            </tbody>
        </table>
    </div>
</div>