.copyright-container .container {
    width: 100%;
    padding: 30px 30px;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-container .box-area {
    width: 60%;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}


/* Centering Image */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


