
#background_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

/* Container Styles */
/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    
} */
.login-container {
    width: 100%;
    padding: 50px 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.top_bar{
    padding: 1rem 1rem 0 1rem;
}
.top_bar img{
    width: 100px;
}
.top_bar a{
    position: relative;
    color: darkgreen;
}
.generate_icon:hover{
    color: gray;
}
.box-area {
    width: 930px;
    margin: auto;
}

/* Form Input Styles */
.form-check-input {
    cursor: pointer;
}

.text-indent {
    text-indent: .5rem;
}

::placeholder {
    font-size: 16px;
}

/* Password Icon */
.password__icon {
    position: absolute;
    right: 0;
    padding: 15px 20px;
    cursor: pointer;
}

/* Image Styles */
img {
    position: relative;
    width: 400px;
}

/* Media Queries */
@media (min-width: 1024px) {
    /* body {
        overflow-y: hidden;
    } */

    /* Bouncing Effect */
    .bounce {
        animation: bounce 2s infinite alternate;
        -webkit-animation: bounce 2s infinite alternate;
    }

    @keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-25px);
        }
    }

    @-webkit-keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-25px);
        }
    }

    /* Form Active States */
    .register__form.active,
    .login__form.active {
        opacity: 1;
    }
}

/* Right Box */
.register_image {
    margin-left: 200px;
}

/* Form States for Small Screens */
/* .register__form,
.login__form {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-left: -100%;
    opacity: 0;
    transition: margin 1s, opacity .5s;
    z-index: 1;
} */
.register__form,
.login__form {
    /* position: absolute; */
    width: 100%; 
    opacity: 0;
    margin-left: -100%;
    transition: margin 1s, opacity .5s;
    z-index: 2;
}

/* .register__form.active {
    margin-left: 0%;
    opacity: 1;
}

.login__form.active {
    margin-left: 0%;
    opacity: 1;
} */
 
.register__form.active,
.login__form.active {
    margin-left: 0%;
    opacity: 1;
    z-index: 3;
}

.form-check-input:checked{
    background-color: black; /* Change this to your desired color */
    border-color: black;    /* Change this to your desired color */
}
.form-check-input:checked:focus {
    box-shadow: 0 0 0 0.2rem rgba(46, 46, 46, 0.25); /* Adjust the focus shadow if needed */
}
.form-check-input:focus {
    border: black;
    box-shadow: 0 0 0 0.2rem rgba(46, 46, 46, 0.25); /* Adjust the focus shadow if needed */
}
.forgot:hover{
    font-weight: 600;
    font-size: 1rem;
    text-decoration: underline;
}
