
/* Container Styles */
.login-container .container{
    width: 100%;
    padding: 30px 30px;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items:center;
}
.login-container .top_bar{
    padding: 1rem 1rem 0 1rem;
}
.login-container .top_bar img{
    width: 100px;
}
.login-container .top_bar a{
    position: relative;
    color: darkgreen;
}

.login-container .box-area {
    width: 930px;
    margin: auto;
}

/* Form Input Styles */
.login-container .form-check-input {
    cursor: pointer;
}

.login-container .text-indent {
    text-indent: .5rem;
}

.login-container ::placeholder {
    font-size: 16px;
}

.login-container .register_personal_info input::placeholder {
    font-size: 12px; /* Change this value to the desired font size */
    text-align: center;
}
.login-container .register_personal_info input{
    font-size: 11px;
}

.login-container .register_phone_number input::placeholder {
    font-size: 16px;
}

.login-container .register_phone_number input {
    font-size: 16px;
}

.login-container .login_username input::placeholder{
    font-size: 12px; /* Change this value to the desired font size */
    text-align: left;
}

.login-container #email::placeholder {
    font-size: 12px;
}

.login-container #email {
    font-size: 12px;
}

.login-container #phone::placeholder{
    font-size: 12px;
}

.login-container #phone{
    font-size: 12px;
}

/* Password Icon */
.login-container .password__icon {
    position: absolute;
    right: 0;
    padding: 15px 20px;
    cursor: pointer;
}

/* Image Styles */
.login-container img {
    position: relative;
    width: 400px;
}

/* Media Queries */
@media (min-width: 1024px) {
    /* body {
        overflow-y: hidden;
    } */

    /* Bouncing Effect */
    .bounce {
        animation: bounce 2s infinite alternate;
        -webkit-animation: bounce 2s infinite alternate;
    }

    @keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-25px);
        }
    }

    @-webkit-keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-25px);
        }
    }

    /* Form Active States */
    .register__form.active,
    .login__form.active {
        opacity: 1;
    }
}

/* Right Box */
.login-container .register_image {
    margin-left: 200px;
}

.login-container .register__form,
.login-container .login__form {
    /* position: absolute; */
    width: 100%;
    opacity: 0;
    margin-left: -100%;
    transition: margin 1s, opacity .5s;
    z-index: 2;
}


.login-container .register__form.active,
.login-container .login__form.active {
    margin-left: 0%;
    opacity: 1;
    z-index: 3;
}

.login-container .form-check-input:checked{
    background-color: black; /* Change this to your desired color */
    border-color: black;    /* Change this to your desired color */
}
.login-container .form-check-input:checked:focus {
    box-shadow: 0 0 0 0.2rem rgba(46, 46, 46, 0.25); /* Adjust the focus shadow if needed */
}
.login-container .form-check-input:focus {
    border: black;
    box-shadow: 0 0 0 0.2rem rgba(46, 46, 46, 0.25); /* Adjust the focus shadow if needed */
}
.login-container .forgot:hover{
    font-weight: 600;
    font-size: 1rem;
    text-decoration: underline;
}


