.back-navigation{
    font-size: 30px;
    margin-left: 30px;
}

.back-navigation a{
    color: #091F5B;
}

.back-navigation a:hover{
    color: #3d5083;
    text-decoration: underline;
}
.card{
    border: none;
}

.card-header{
    background-color: white;
}

.card-body{
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.form-control{
    border: 1 solid rgba(0, 0, 0, 0.1);
}

.form-control::placeholder{
    font-size: 12px;
}

.submitButton{
    justify-content: end;
}

.submitButton .btn-primary{
    border: none;
    border-radius: 30px;
    background-color: #091F5B;
}

.submitButton .btn-primary:hover{
    border: none;
    border-radius: 30px;
    background-color: #3d5083;
}

.submitButton .btn-primary:active{
    border: none;
    border-radius: 30px;
    background-color: #9ba6c4;
}

.form-control{
    background-color: rgba(0, 0, 0, 0.1);
}

.serviceQuaity{
    font-size: larger;
}

.feedback{
    font-size: larger;
}
.badge{
    font-size: 20px;
}