.terms-container .container {
    width: 100%;
    padding: 30px 30px;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Terms of Service Page Specific Styles */
.terms-container .terms-content {
    width: 60%;
    margin: auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}
