
.profile-container .sidebar h5 {
     color: var(--primary-color);
    font-weight: bold;
}
.profile-container .sidebar {
    border-right: 1px solid #dee2e6;
    height: 100%;
}
.profile-container .account-info {
    padding: 20px;
}

.profile-container .form-label {
    color: var(--secondary-color);

}
.profile-container .nav-item a{
    color: var(--primary-color);
    font-weight: bold;
}
.profile-container .form-control{
    background-color: var(--grey) !important;
    border-radius: 10px !important;

}
.profile-container .btn {
    padding: 5px;
    width: 150px;
    background-color: var(--secondary-color) !important;

}

.profile-container .user-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

