/* Container styling */
.users-container {
    width: 100%;
    padding: 10px 50px;
}

/* General Table Styling */
.users-container .table {
    border-collapse: separate;
    border-spacing: 0 10px;
    background-color: var(--nav-text-color);
}

.users-container .table th {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.users-container .table tbody tr {
    border: 1px solid black;
    background-color: var(--grey);
    transition: background-color 0.3s ease;
}

.users-container .table tbody tr:hover {
    cursor: pointer;
    background-color: var(--light-grey);
}

.users-container .table td {
    background-color: inherit;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2rem;
}

.users-container .table td:first-child {
    font-weight: bold;
}

.users-container .table td:first-child,
.users-container .table th:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.users-container .table td:last-child,
.users-container .table th:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Status Colors */
.users-container .status-pending {
    color: #E2A43D;
}

.users-container .status-confirmed {
    color: #A6BFF6;
}

.users-container .status-assigned {
    color: #5A77E0;
}

.users-container .status-inprogress {
    color: #7AA1E0;
}

.users-container .status-completed {
    color: #4CAF50;
}

.users-container .status-canceled {
    color: #D9414F;
}

/* Button Styling */
.users-container i {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin: 0;
}

.users-container .table tbody tr:hover i {
    animation: slide-right .3s ease-in-out both;
}

/* arrow animation */
@keyframes slide-right {
    0% {
    transform: translateX(0);
    }

    100% {
    transform: translateX(6px);
    }
}


/* Mobile Responsive */
@media (max-width: 768px) {
    .users-container .table th, 
    .users-container .table td {
        font-size: 0.9rem;
    }
}