<!-- Footer -->
<footer class="py-4 footer-wrapper" style="background-color: var(--nav-bg);">
    <a class="navbar-brand fw-bold" href="#" style="color: var(--nav-text-color);">HoverSprite</a>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 style="color: var(--nav-text-color);">About</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 style="color: var(--nav-text-color);">Products</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Models</a></li>
                    <li><a href="#">Stores</a></li>
                    <li><a href="#">Services</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 style="color: var(--nav-text-color);">Support</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
