<!-- Header -->
<!-- <header>
    <nav class="navbar navbar-expand-lg" style="background-color: var(--nav-bg);">
        <div class="container-fluid px-5">
        
            <a class="navbar-brand fw-bold" href="#" style="color: var(--nav-text-color);">
                <img src="../public/images/drone-icon.png" width="50" height="30" alt="">    HoverSprite</a>
               
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="home.html" style="color: var(--nav-text-color);">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="booking.html" style="color: var(--nav-text-color);">booking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: var(--nav-text-color);">support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="account.html" style="color: var(--nav-text-color);">account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header> -->
<header>
    <nav class="navbar navbar-expand-lg navbar-mainbg">
        <a class="navbar-brand navbar-logo fw-bold" style="color: white; font-size: 50px;" href="#">HoverSprite</a>
        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li class="nav-item">
                    <a class="nav-link" href="home.html"><i class="fa-solid fa-house"></i>home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="booking.html"><i class="fa-solid fa-calendar"></i>booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="support.html"><i class="fa-solid fa-headset"></i>support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="account.html"><i class="fa-solid fa-user"></i>account</a>
                </li>
            </ul>
        </div>
        <script src="../public/js/navbar.js"></script>
    </nav>
</header>
