<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../public/stylesheets/navbar.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/d88c69cf14.js" crossorigin="anonymous"></script>
    <script src="../public/js/nav-ajax.js"></script>
    
    <title>Support</title>
</head>
<body>
    <div id="header"></div>

    <div id="main-content">
        <h1>Support Page</h1>
        <p>This is the support page content.</p>
        
    </div>

    <div id="footer"></div>
    <script>
        $(document).ready(function(){
            $("#header").load("header.html");
            $("#footer").load("footer.html");
        });
    </script>
</body>
</html>
